.container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid red;
}

.container div{
    width: 100%;
    margin: 2%;
}

.recuadro {
    background-color: var(--colorRecuadro);
    border-radius: 5px;
    text-align: center;
}

.separacion{
    margin: 10px 0px;
}


.centrado{
    display: flex;
    width:110%;
    height: 105%;
    padding-right: 22%;
}

